
#main {
	border: solid black 2px;
	background-color: #CFA474;
	color: white;
}

#main h1 {
	color: #435A62;
}

#newProfile {
	width: 600px;
}

input, textarea {
	padding: 5px 0 5px 10px;
}

#first, #last {
	width: 200px;
}

#email, #phone, #color, #subBtn, #bio{
	width: 400px;
}

#subBtn {
	background-color: #435A62;
	border: none;
}