
#main {
	border: solid black 2px;
	background-color: #5C337F;
	color: white;
}

#main h1 {
	color: tomato;
}

#main p {
	width: 50%;
}

#newProfile {
	width: 600px;
}

input, textarea {
	padding: 5px 0 5px 10px;
}

#first, #last {
	width: 200px;
}

#email, #phone, #color, #subBtn, #bio{
	width: 400px;
}
