.body {
	background-color: #D9D5CB;
}

#main {
	border: solid black 2px;
	background-color: #435A62;
	color: white;
	font-family: 'Paletino';
}

#main h1 {
	color: #CFA474;
}


#newProfile {
	width: 600px;
}

input, textarea {
	padding: 5px 0 5px 10px;
}

#first, #last {
	width: 200px;
}

#email, #phone, #color, #subBtn, #bio, #mainP, #business {
	width: 400px;
}

#subBtn {
	background-color: #CFA474;
	border: none;
}